# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# CMake dir
build/

#vscode setting
.vscode/

# Executables
*.exe
*.out
*.app
*.log

# example tmp file
examples/*.mlir
examples/*.tmp
examples/*.ll
examples/*.bc
examples/*.bmodel
examples/*.json
examples/*.npz
examples/*.ptx
examples/*.cubin
examples/*.dat

test/**/*.npz

# tpu-mlir lib
!3rdparty/tpu-mlir/third_party/**/lib/*.so