[submodule "3rdparty/onnx-mlir"]
	path = 3rdparty/onnx-mlir
	url = git@github.com:onnx/onnx-mlir.git
[submodule "3rdparty/llvm-project"]
	path = 3rdparty/llvm-project
	url = git@github.com:llvm/llvm-project.git
[submodule "3rdparty/flatbuffers"]
	path = 3rdparty/flatbuffers
	url = git@github.com:gilsaia/flatbuffers-package.git
[submodule "3rdparty/oneDNN"]
	path = 3rdparty/oneDNN
	url = git@github.com:oneapi-src/oneDNN.git
[submodule "3rdparty/oneTBB"]
	path = 3rdparty/oneTBB
	url = git@github.com:oneapi-src/oneTBB.git
[submodule "3rdparty/xxHash"]
	path = 3rdparty/xxHash
	url = git@github.com:Cyan4973/xxHash.git
